
@{
    ViewBag.Title = "Création d'un projet";
}


<h2>Création d'un projet</h2>

@using (Html.BeginForm()) { }
@using (Html.BeginForm(new { user = "1" })) { }
@using (Html.BeginForm("Create", "Projects", FormMethod.Get)) { }
@using (Html.BeginForm("Create", "Projects", FormMethod.Get,new { id="form1",@class="form1"})) { }


